.announcement{
  
}

.announce-card {
  border-style: dotted;
  border-color: #02254b;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 20px 5px 0;
}

.published-at {
  float: right;
  margin: 0;
}