.footer {
  margin: auto;
  text-align: center;
  padding: 12px;
  margin: 20px;
  background-color: rgba(255,255,255, 0.75);
  position: fixed;
  bottom: 0rem;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  width: 1790px;
}

.footer-quotes {
  flex: 1;
  text-align: center;
 
}
/* 
.quote {
  opacity: 1;
  transition: opacity 2s;
  font-family: "Libre Baskerville", sans-serif;
  color: rgb(179, 179, 179);
  cursor: none;
}

.hide {
  opacity: 0;
  font-family: "Libre Baskerville", sans-serif;
  color: rgb(179, 179, 179);
  cursor: none;
} */