.footer {
  margin: auto;
  text-align: center;
  padding: 12px;
  background-color: #88BDBC;
  position: fixed;
  bottom: 0rem;
  width: 100%;
  backdrop-filter: blur(3px);
}

.footer-quotes {
  flex: 1;
  display: flex;
 
}
/* 
.quote {
  opacity: 1;
  transition: opacity 2s;
  font-family: "Libre Baskerville", sans-serif;
  color: rgb(179, 179, 179);
  cursor: none;
}

.hide {
  opacity: 0;
  font-family: "Libre Baskerville", sans-serif;
  color: rgb(179, 179, 179);
  cursor: none;
} */